body{ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30 10 0 10;
}
.image{
    background: white;
    /* /* display: block; */
    margin-left: 10px;
    margin-right: 10px; 
    /* width: 50%; */
    background-size: contain;
    display: flex;
    flex-direction: column;
     justify-content: center; 
    align-items: center;
    background-position: center;
    /* padding: 20px; *
    max-width: 100%;
    margin: 20px;
} 
.bold{
    font-weight: bold;
    /* padding: 10px; */
    /* margin: 20px */
}

figcaption{
    padding-top: 20px;
    padding-bottom: 20px;

}
h3{
   display: flex;
   justify-content: center;
   padding: 25px 0;
   margin: 10px o
}
ul{
    list-style-type: circle;
    display: flex;
    justify-content: space-between;
    /* align-items: center */
    flex-direction: column;
    
}

.list{
    margin: 10px
}
.tribute-info{
    /* display: flex; */
    /* justify-content:flex-end; */
    /* align-items:center */
    text-align: justify;
    margin: 0 auto;
    width: 50%;
}
.end{
    text-align: justify;
    margin: 0 auto;
    width: 50%;
    font-style: italic;
}
.head{
    text-align:center;
    margin-top: 20px;
}
h1{
    font-size: 40px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}
main{
    margin: 20px 3px;
    background-color: rgb(227, 227, 230);
    border-radius: 3px;
    /* background-color: aliceblue; */

}
.writer{
    text-align: center;
    padding-top: 100px;
}
.note{
    text-align: center;
    font-size: larger;
}
.link{
    color: rgb(4, 33, 71);
    font-weight: bolder;
}